extends layout
block scripts
block content
    //view: company list
    #companyList(data-bind='visible: navigation() === "list"', style='display: none;')
        h1 Companies:
        table.table.table-striped.table-hover
            thead: tr
                th Name
                th City
                th Phone no
                th
            tbody(data-bind='foreach: companies')
                tr(data-bind='click: $root.goToDetail')
                    td(data-bind='text: name')
                    td(data-bind='text: address.city')
                    td(data-bind='text: phone')
                    td: button.close(type='button',data-bind='click: $root.removeCompanyQuestion, clickBubble: false') &times
        button.btn.btn-default.col-sm-1(data-bind='click: addCompany')
            span.glyphicon.glyphicon-plus
            |  Add
    //view: details about one company, employees and notes
    #companyDetails(data-bind='visible: navigation() === "company"', style='display: none;')
        ul#companyTab.nav.nav-tabs(role='tablist')
            li.active: a#firstCompanyTab(href='#company',role='tab',data-toggle='tab') Company details
            li: a(href='#employees',role='tab',data-toggle='tab') Employees
            li: a(href='#notes',role='tab',data-toggle='tab') Notes
        .tab-content
            #company.tab-pane.active
                form.form-horizontal
                    .form-group
                        label.col-sm-2.control-label(for=cname) Name:
                        .col-sm-10: input#cname.form-control(type=text, data-bind='value: companyDetails.name', placeholder='Enter name')
                    .form-group
                        label.col-sm-2.control-label(for=curl) www:
                        .col-sm-10: input#curl.form-control(type=text, data-bind='value: companyDetails.url', placeholder='Enter www')
                    #caddress
                        .form-group
                            label.col-sm-2.control-label(for=cstreet) Street:
                            .col-sm-10: input#cstreet.form-control(type=text, data-bind='value: companyDetails.address.street', placeholder='Enter street')
                        .form-group
                            label.col-sm-2.control-label(for=cstreetNo) No:
                            .col-sm-10: input#cstreetNo.form-control(type=text, data-bind='value: companyDetails.address.streetNo', placeholder='Enter street number')
                        .form-group
                            label.col-sm-2.control-label(for=capartmentNo) Apartment:
                            .col-sm-10: input#capartmentNo.form-control(type=text, data-bind='value: companyDetails.address.apartmentNo', placeholder='Enter apartment number')
                        .form-group
                            label.col-sm-2.control-label(for=ccity) City:
                            .col-sm-10: input#ccity.form-control(type=text, data-bind='value: companyDetails.address.city', placeholder='Enter city')
            #employees.tab-pane.list-group.clearfix
                form.form-horizontal(data-bind='foreach: companyDetails.employees')
                    .employee.list-group-item(data-bind='css: {"list-group-item-warning" : isDirty}')
                        button.close(type='button', data-bind='click: $root.removeEmployee, clickBubble: false'): span(aria-hidden='true') &times
                        .form-group
                            label.emp_name.control-label.col-sm-1 Name:
                            .col-sm-4
                                .input-group
                                    span.input-group-addon
                                        span.glyphicon.glyphicon-user
                                    input.emp_name.form-control(type=text, data-bind='value: name', placeholder='Enter name')
                            label.emp_title.control-label.col-sm-1 Title:
                            .col-sm-4
                                .input-group
                                    span.input-group-addon
                                        span.glyphicon.glyphicon-flag
                                    input.emp_title.form-control(type=text, data-bind='value: title', placeholder='Enter title')
                        .form-group
                            label.emp_phone.control-label.col-sm-1 Phone:
                            .col-sm-4
                                .input-group
                                    span.input-group-addon
                                        span.glyphicon.glyphicon-earphone
                                    input.emp_phone.form-control(type=text, data-bind='value: phoneNo', placeholder='Enter phone no')
                            label.emp_mail.control-label.col-sm-1 E-mail:
                            .col-sm-4
                                .input-group
                                    span.input-group-addon: strong @
                                    input.emp_mail.form-control(type=text, data-bind='value: email', placeholder='Enter e-mail')
                button.addEmployee.btn.btn-success.pull-right(data-bind='click: $root.addEmployee, clickBubble: false')
                    span.glyphicon.glyphicon-plus
                    | Add employee
            #notes.tab-pane.list-group.clearfix
                form.form-horizontal(data-bind='foreach: companyDetails.notes')
                    .notes.list-group-item(data-bind='css: {"list-group-item-warning" : isDirty}')
                        button.close(type='button',data-bind='click: $root.removeNote, clickBubble: false'): span(aria-hidden='true') &times
                        .form-group
                            label.note_date.control-label.col-sm-1 Date:
                            .col-sm-4
                                .input-group.datetimepicker(data-date-format='"DD/MM/YYYY HH:mm:ss"')
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                        input.note_date.form-control(type=text, data-bind='datePicker: date', placeholder='Enter date')
                        .form-group
                            label.note_text.control-label.col-sm-1 Text:
                            .col-sm-11
                                textarea.note_text.form-control(data-bind='value: text', placeholder='Enter note')
                button.addNote.btn.btn-success.pull-right(data-bind='click: $root.addNote, clickBubble: false')
                    span.glyphicon.glyphicon-plus
                    | Add note
        button.save.btn.btn-primary.col-sm-2(type='button', data-bind='click: saveCompanyDetails, enable:companyDetails.dirtyFlag.isDirty')
            span.glyphicon.glyphicon-thumbs-up
            |   Save
        button.cancel.btn.btn-warning.col-sm-2(type='button', data-bind='click: cancelCompanyChangesQuestion')
            span.glyphicon.glyphicon-thumbs-down
            |   Cancel
    include ./includes/yesnomodal.jade
    script(src='/javascripts/app/index.js')
